<table class='table table-hover'>
	<thead>
		<tr>
			<th>Prédio</th>
			<th>Loja</th>
			<th>Cliente</th>
			<th>Aceitado em</th>
			<th>Tempo que levou aceitarlo</th>
			<th>Valor</th>
			<th>Status</th>
			<th>Telefone do cliente</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<th><%= order.shop.predio.name %></th>
				<th><%= order.shop.name %></th>
				<td><%= order.user.name %></td>
				<td><%= format_datetime order.status.created_at %></td>
				<td><%= time_spent_between_last_status(order) %></td>
				<td><%= format_currency order.total %></td>
				<td><%= status %></td>
				<td><%= order.user.phone %></td>

				<td>
					<%= link_to 'Ver detalhes', show_from_clients_orders_path(status.try(:downcase), order), class: "btn btn-xs" %>
					<%= link_to 'Marcar como entregue', order_finish_path(order), class: "btn btn-success btn-xs", "data-confirm": "Seguro desea finalizar el pedido" %>
					<%= link_to 'Cancelar pedido', order_canceling_path(order), class: "btn btn-primary btn-xs" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
