<table class='table table-hover'>
	<thead>
		<tr>
			<th>#</th>
			<th>Prédio</th>
			<th>Loja</th>
			<th>Cliente</th>
			<th>Status</th>
			<th>Valor</th>
			<th>Motivo</th>
			<th>Cancelado por</th>
			<th>Cancelado em</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<th>#<%= order.id %></th>

				<td>
					<% if order.shop.present? %>
						<%= order.shop.predio.name %>
					<% else %>
						Prédio não disponível
					<% end %>
				</td>
				<td>
					<% if order.shop.present? %>
						<%= order.shop.predio.name %>
					<% else %>
						Prédio não disponível
					<% end %>
				</td>

				<td><%= order.user.name %></td>
				<td><%= status %></td>
				<td><%= format_currency order.total %></td>
				<td><%= order.status.observation %></td>
				<td><%= order.canceled_by %></td>
				<td><%= format_datetime order.status.created_at %></td>

				<td><%= link_to 'Ver detalhes', show_from_clients_orders_path(status.try(:downcase), order) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
