<div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
        				<th>#</th>
        				<th>Prédio</th>
        				<th>Loja</th>
        				<th>Cliente</th>
        				<th>Status</th>
        				<th>Valor</th>
        				<th>Motivo</th>
        				<th>Cancelado por</th>
						<th>Cancelado em</th>
					</tr>
        		</thead>
				<tbody>
					<% orders_by_status(orders, status).each do |order| %>
        			<tr>
        				<td data-title="#">#<%= order.id %></td>

						<td data-title="Prédio">
							<% if order.shop.present? %>
								<%= order.shop.predio.name %>
							<% else %>
								Prédio não disponível
							<% end %>
						</td>
						<td data-title="Loja">
							<% if order.shop.present? %>
								<%= link_to order.shop.name, predio_shop_path(order.shop.predio, order.shop) %>
							<% else %>
								Loja não disponível
							<% end %>
						</td>

        				<td data-title="Cliente"><%= order.user.name %></td>
        				<td data-title="Status"><%= status %></td>
        				<td data-title="Valor"><%= format_currency order.total %></td>
        				<% if order.status.observation.blank? %>
        					<td data-title="Motivo">-</td>
        				<% else %>
        					<td data-title="Motivo"><%= order.status.observation %></td>
        				<% end %>
        				<td data-title="Cancelado por"><%= order.canceled_by %></td>
						<td data-title="Cancelado em"><%= format_datetime order.status.created_at %></td>
        				<td>
							<%= link_to 'Ver detalhes', show_from_clients_orders_path(status.try(:downcase), order), class: "btn btn-xs" %>
						</td>
        			</tr>
        			<% end %>
   				 </tbody>
    		</table>
</div>
