<div id="no-more-tables">
            <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
        				<th>#</th>
        				<th>Prédio</th>
        				<th>Loja</th>
        				<th>Cliente</th>
        				<th>Criado em</th>
        				<th>Valor</th>
        				<th>Status</th>
        			</tr>
        		</thead>
				<tbody>
					<% orders_by_status(orders, status).each do |order| %>
        			<tr>
        				<td data-title="#">#<%= order.id %></td>
        				<td data-title="Prédio"><%= order.shop.predio.name %></td>
        				<td data-title="Loja"><%= order.shop.name %></td>
        				<td data-title="Cliente"><%= order.user.name %></td>
        				<td data-title="Criado em"><%= format_datetime order.status.created_at %></td>
        				<td data-title="Valor"><%= format_currency order.total %></td>
        				<td data-title="Status"><%= status %></td>
        				<td>
							<%= link_to 'Ver detalhes', show_from_clients_orders_path(status.try(:downcase), order), class: "btn btn-xs" %>
						</td>
						<td>
							<%= link_to 'Aceitar pedido', order_accept_path(order), class: "btn btn-success btn-xs", "data-confirm": "Tem certeza de que deseja aceitar o pedido?" %>
						</td>
						<td>
							<%= link_to 'Cancelar pedido', order_canceling_path(order, status: OrderStatus::EN_CURSO), class: "btn btn-primary btn-xs" %>
						</td>
        			</tr>
        			<% end %>
   				 </tbody>
    		</table>
</div>
