<table class='table table-hover'>
	<thead>
		<tr>
			<th>#</th>
			<th>Cliente</th>
			<th>Criado em</th>
			<th>Valor</th>
			<th>Status</th>
			<th>Telefone do cliente</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<th>#<%= order.id %></th>
				<td><%= order.user.name %></td>
				<td><%= format_datetime order.status.created_at %></td>
				<td><%= format_currency order.total %></td>
				<td><%= status %></td>
				<td><%= order.user.phone %></td>

				<td>
					<%= link_to 'Ver detalhes', show_from_clients_orders_path(status.try(:downcase), order), class: "btn btn-xs" %>
					<%= link_to 'Aceitar pedido', order_accept_path(order), class: "btn btn-success btn-xs", "data-confirm": "Seguro desea aceitar el pedido" %>
					<%= link_to 'Cancelar pedido', order_canceling_path(order), class: "btn btn-primary btn-xs" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
