<table class='table table-hover'>
	<thead>
		<tr>
			<th>Prédio</th>
			<th>Loja</th>
			<th>Status</th>
			<th>Motivo</th>
			<th>Cancelado por</th>
			<th>Cancelado em</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<td><%= order.shop.predio.name %></td>
				<td><%= order.shop.name %></td>
				<td><%= status %></td>
				<td><%= order.status.observation %></td>
				<td><%= order.canceled_by %></td>
				<td><%= format_datetime order.status.created_at %></td>

				<td><%= link_to 'Ver detalhes', show_to_shops_orders_path(status.try(:downcase), order) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
