<table class='table table-hover'>
	<thead>
		<tr>
			<th>Prédio</th>
			<th>Loja</th>
			<th>Status</th>
			<th>Criado em</th>
			<th>Valor</th>

			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<td><%= order.shop.predio.name %></td>
				<td><%= order.shop.name %></td>
				<td><%= status %></td>
				<td><%= format_datetime order.status.created_at %></td>
				<td><%= format_currency order.total %></td>
				
				<td>
					<%= link_to 'Ver detalhes', show_to_shops_orders_path(status.try(:downcase), order), class: "btn btn-xs" %>
					<%= link_to 'Cancelar pedido', order_canceling_path(order), class: "btn btn-primary btn-xs" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
