<table class='table table-hover'>
	<thead>
		<tr>
			<th>Prédio</th>
			<th>Loja</th>
			<th>Valor</th>
			<th>Tempo total de duração do pedido</th>
			<th>Finalizado em</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<th><%= order.shop.predio.name %></th>
				<td><%= link_to order.shop.name, shop_path(order.shop) %></td>
				<td><%= format_currency order.total %></td>
				<td><%= time_spent_between_last_status order %></td>
				<td><%= format_datetime order.status.created_at %></td>

				<td><%= link_to 'Ver detalhes', show_to_shops_orders_path(status.try(:downcase), order) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% unless orders_by_status(orders, status).blank? %>
<div class="row">
	<div class="col-md-12">
		<strong>Total:</strong> <i><%= format_currency orders_by_status(orders, status).sum(&:total) %></i>
	</div>
</div>
<% end %>
