<div class="container">
	<div class="row">
		<div class="modal-header">
			<h3 class="modal-title" id="small-modal-label">Pedido (#<%= @order.id %>)</h3>
		</div>

		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<h4>Produtos:</h4>
					<table class='table table-hover'>
						<% @order.order_items.each do |item| %>
							<tr>
								<td><%= item.product.name %></td>
								<td><%= item.amount %> x </td>
								<td><%= format_currency item.value %></td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<%= link_to 'Voltar', to_shops_orders_path(@order.status.status.downcase), class: "btn btn-success" %>
		</div>
	</div>
</div>
