<%= form_for @shop, validate: true do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label 'Nombre de la tienda' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label "Edificio a la que pertenece" %><br>
    <p>(Si tu edificio no aparece envíanos un mensaje</p>
    <%= link_to "aquí y gana membresía gratuita)", queries_path, class: 'link' %><br><br>
    <%= f.collection_select :predio_id, @predios, :id, :name %>
  </div>
  
  <div class="actions">
    <%= f.submit "Listo", class: 'button button3 btn-block', role: 'button' %>
  </div>
  <br />
<% end %>
