<div class="col-sm-6 col-md-4">
	<div class="thumbnail margin-top-40">
		<%= link_to image_tag(shop.image_url, class: "img-responsive", style:"width: 100%"), predio_shop_path(shop.predio, shop) %>
		<div style="padding: 9px;text-align: center;">
			<h2 style="margin-top: 5px;margin-bottom: 15px;">
				<%= shop.name.truncate(17) %>
			</h2>

			<div class="row">
				<div class="col-md-12">
					<%= link_to 'Entrar', predio_shop_path(shop.predio, shop), class: "btn btn-success btn-lg", style: "color: white;background-clip: border-box;width: 100%;" %>
				</div>
			</div>

			<% if user_signed_in? %>
				<% if current_user.is_my_shop? shop || current_user.admin? %>
					<hr>
					<%= link_to 'Editar', edit_predio_shop_path(shop.predio, shop), role: 'button', class: 'btn btn-success btn-sm' %>
					<%= link_to 'Eliminar', predio_shop_path(shop.predio, shop), method: :delete, data: { confirm: 'Ao eliminar a loja os pedidos em andamento ou aceitos desta loja serão cancelados. Continuar?' }, role: 'button', class: 'btn btn-primary btn-sm' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
