<meta name="apple-mobile-web-app-capable" content="yes">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700" rel="stylesheet" type="text/css">

<div class="header-store">
	<div class="container">
		<div class="col-md-12">
			<div class="predios-head">
				<img src="https://s3.amazonaws.com/predios/loja.png">
				<div>
					<h2></h2>
					<h2 class="margin-top-0">Você está no: </h2>
					<h2 class="margin-top-0"><%= @predio.name %></h2>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<%= form_tag(predio_shops_path(@predio), method:'get') do %>
				<div>
					<%= text_field_tag :search, params[:search], class: "input-search", placeholder: "Buscar..." %>
					<%= submit_tag ">", class: "input-btn-search", name: nil %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div class="container" style="margin-bottom: 100px;">
	<div class="col-md-12 row">
		<div style="padding:10px;">
			<%= link_to 'Todos os prédios', root_path, role: 'button', class: 'btn btn-primary btn-sm' %>
			<% if user_signed_in? %>
				<%= link_to 'Criar nova loja', new_predio_shop_path(@predio), role: 'button', class: 'btn btn-success btn-sm' %>
			<% end %>

			<p class="text-found">
				<%= @shops.blank? ? "Ainda sem lojas." : "Lojas encontradas: #{@shops.count}"  %>
			</p>
		</div>
	</div>

	<%= render @shops %>
</div>

<img src="https://s3.amazonaws.com/predios/arboles.jpg" style="width: 100%;">
