<div class="header-store">
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<%= image_tag(@shop.image_url, class: "img-responsive aspect logo-product") %>
				</div>

				<div class="col-md-4">
					<h1 class="margin-top-0"><%= @shop.name %></h1>
					<div class="inline">
						<img src="https://s3.amazonaws.com/predios/build.png" class="build">
						<h1 class="build-name">
							<%= @shop.predio.name %>
						</h1>
					</div>
				</div>

				<div class="col-md-2">
					<%= link_to "Meus pedidos", orders_path, class: "btn btnMeusPedidos btn-md" %>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<%= form_tag(predio_shop_path(@predio, @shop), method: "get") do %>
				<div class="">
					<%= text_field_tag :q, params[:q], class: "input-search", placeholder: 'Buscar...' %>
					<%= submit_tag ">", class: "input-btn-search", name: nil %>
				</div>
			<% end %>
		</div>

	</div>
</div>

<div class="container container-shop">

	<div class="col-md-12 row">
		<div style="padding: 10px;">

			<%= link_to "Ver Prédio", predio_shops_path(@shop.predio), role: 'button', class: 'btn btn-primary btn-sm' %>
			<% if current_user.try(:is_my_shop?, @shop) %>
				<%= link_to 'Editar loja', edit_predio_shop_path(@predio, @shop), role: 'button', class: 'btn btn-success btn-sm' %>
				<%= link_to 'Crie um produto', new_predio_shop_product_path(@predio, @shop), role: 'button', class: 'btn btn-success btn-sm' %>
			<% end %>

			<p class="text-found">
				<%= @products.blank? ? "Nenhum producto encontrado" : "Produtos encontrados"  %>
			</p>
		</div>
	</div>

	<%= render @products %>

</div>

<% unless current_user.try(:is_my_shop?, @shop) %>
	<div class="footer-cart">
		<div id="cart">
			<div class="iconCart">
				<span><%= amount_items_in_cart @shop %></span>
			</div>
			<%= link_to raw('<img src="https://s3.amazonaws.com/predios/cart.png">') , cart_predio_shop_path(@predio, @shop), class: "btn-link", "data-count": amount_items_in_cart(@shop), data: { turbolinks: false } %>
		</div>
	</div>

	<script type="text/javascript">
		document.addEventListener('turbolinks:before-visit', (event) => {
			// exists any item in cart
			if ( $("#cart a").data('count') > 0 ) {

				let current = event.currentTarget.URL
				let next = event.data.url
				if (current != next) {
					let $modal = $("#exit-shop-modal")
					let $button = $modal.find("#exit-shop-button");
					$modal.modal();

					$button.unbind().click(() => {
						$.ajax({
							type: "POST",
							url: "<%= clear_cart_predio_shop_path(@predio, @shop) %>",
							data: {"_method":"delete"},
							complete: () => window.location.href = next
						});
					});

					event.preventDefault();
				}

			}
		});
	</script>

	<%= render partial: "/shops/modal_exit_shop" %>
	<%= render partial: "/cart/modal_empty_cart" %>
<% end %>
