<div class="header-store">
  <div class="container">
    <div class="col-md-6">
      <%= image_tag(@shop.image_url, class: "img-responsive aspect logo-product") %>
    </div>
    <div class="col-md-6">
      <h1 class="margin-top-0">
        <%= @shop.name %>
      </h1>
      <div class="inline">
        <img src="https://s3.amazonaws.com/predios/build.png" class="build">
        <h1 class="build-name">
          <%= @shop.predio.name %>
        </h1>
      </div>
    </div>
    <div class="col-md-12">
      <%= search_form_for @q do |f| %>
      <div class="">
        <%= f.search_field :name_cont, class: 'input-search', placeholder: 'Estou a procura de...' %>
        <%= f.submit "Busque", class: 'input-btn-search' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
  <% if current_user.id == @shop.user_id %>
  <%= link_to 'Editar Tienda', edit_shop_path(@shop), role: 'button', class: 'btn btn-success btn-sm' %>
  <% end %>
<% end %>

<div class="container wrapper">
  <div class="col-md-12 row">
    <p class="text-found">Productos encontrados</p>
  </div>
  <% @products.each do |product| %>
    <% if product.shop_id == @shop.id %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail margin-top-40">
        <div class="price-product">
          <span>R$<%= product.price %></span>
        </div>
        <%= image_tag(product.image_url, class: "img-responsive aspect", style:"padding-top: 35px;") %>
        <div class="caption" style="text-align: center;">
          <h3><%= product.name %></h3>
          <% if user_signed_in? %>
            <% if current_user.id == product.shop.user_id %>
              <%= link_to 'Editar', edit_product_path(product), role: 'button', class: 'btn btn-success btn-sm' %>
              <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-success btn-sm' %>
            <% end %>
          <% end %>
          </p>
        </div>
        <a href="#" class="btn-plus">
          <img src="https://s3.amazonaws.com/predios/plus.png" class="plus">
        </a>
      </div>
    </div>
    <% end %>
  <% end %>

  <div class="push"></div>
</div>

<% if user_signed_in? %>
  <% if current_user.id == @shop.user_id %>
  <%= link_to 'Crear un producto', new_product_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
  <% end %>
<% end %>
<footer class="footer">
  <div class="footer-cart">
    <a href="#">
      <img src="https://s3.amazonaws.com/predios/cart.png">
    </a>
  </div>
</footer>
