<div class="row">
	<p id="notice"><%= notice %></p>

	<div class="col-sm-12 text-right">
		<h1 class="cart-text">
			<div id="cart">
				<%= link_to "Items in Cart (#{amount_items_in_cart})", cart_shop_path(@shop), class: "btn btn-link", "data-count": amount_items_in_cart %>
			</div>
		</h1>
	</div>

	<%= render partial: "/cart/modal_empty_cart" %>
</div>

<%= image_tag(@shop.image_url, class: "img-responsive aspect") %>

<h1><%= @shop.name %></h1>

<% if user_signed_in? %>
	<% if current_user.id == @shop.user_id %>
		<%= link_to 'Editar Tienda', edit_shop_path(@shop), role: 'button', class: 'btn btn-success btn-sm' %>
	<% end %>
<% end %>

<h3>
	<% if user_signed_in? %>
		<% if @shop.number.nil? && current_user.id == @shop.user_id %>
			<%= link_to "Agregar numero de contacto aquí", edit_shop_path(@shop), class: 'link'%>
		<% else %>
			<%= @shop.number %>
		<% end %>
	<% else  %>
		<%= @shop.number %>
	<% end %>
</h3>

<% if @shop.whatsapp %>
	<ul>
		<li>Tenenemos Whatsapp</li>
	</ul>
<% end %>

<% if @shop.phone %>
	<ul>
		<li>Puedes llamarnos</li>
	</ul>
<% end %>

<div class="row">
	<%= form_tag(shop_path(@shop), method: "get") do %>
		<div class="col-md-10">
			<%= text_field_tag :q, params[:q], class: "form-control" %>
		</div>
		<div class="col-md-2">
			<%= submit_tag "Buscar Producto", class: "btn btn-success", name: nil %>
		</div>
	<% end %>
</div>

<h3><%= @products.blank? ? "sin productos en la tienda" : "productos en tienda"  %></h3>
<br />

<div class="row">
	<% @products.each do |product| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag(product.image_url, class: "img-responsive aspect") %>
				<div class="caption">
					<h3><%= product.name %></h3>
					<p>$<%= product.price %> (CLP)</p>
					<p><%= product.detail %></p>
					<% if user_signed_in? %>
						<p>
							<% unless is_in_cart? product %>
								<%= link_to 'Adicionar ao carrinho', add_to_cart_shop_path(@shop, product), role: 'button', class: 'btn btn-success btn-sm' %>
							<% else %>
								<span class="btn btn-sm">Já adicionado no carrinho</span>
							<% end %>

							<% if current_user.id == product.shop.user_id %>
								<%= link_to 'Editar', edit_product_path(product), role: 'button', class: 'btn btn-success btn-sm' %>
								<%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' }, role: 'button', class: 'btn btn-success btn-sm' %>
							<% end %>
						</p>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>

<br /><br /><br />

<% if user_signed_in? %>
	<% if current_user.id == @shop.user_id %>
		<%= link_to 'Crear un producto', new_product_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
	<% end %>
<% end %>

<%= link_to 'Volver', predio_shops_path(@shop.predio_id), role: 'button', class: 'btn btn-success btn-sm' %>
<hr />
