<b>Datos de cuenta bancaria</b><br/><br/>
<p>CuentaRUT: <b>18329606</b></p>
<p>RUT: <b>18329606-K</b></p>
<p>Nombre: <b>Alejandro G. Navarro</b></p>
<p>Email: <b>prediosaplicativo@gmail.com</b></p>
<hr />
<p>1 mes de membresía:</p><b>$6000.-</b><br/>
<hr />

<% if user_signed_in? %>

	<% if @preapproval.present? %>
		<%= link_to "Assinar", @preapproval['response']['init_point'], name: "MP-Checkout", class: "blue-rn-m" %>
		<script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
	<% else %>

		<table class="table table-hover">
			<tr>
				<th>Status:</th>
				<td><%= @subscription.try(:status) %></td>
			</tr>
			<tr>
				<th>Assinatura aprovada em:</th>
				<td><%= format_datetime @subscription.try(:created_at) %></td>
			</tr>
			<tr>
				<th>Valor:</th>
				<td><%= format_currency 1 %></td>
			</tr>
			<tr>
				<th>Primeira cobrança em:</th>
				<td><%= format_date @subscription.try(:first_charge_at) %></td>
			</tr>
		</table>

		<hr>

		<%= link_to "Cancelar Assinatura", cancel_subscription_path, class: "btn btn-primary", "data-confirm": "Seguro desea cancelar el pedido" %>
	<% end %>

<% else %>

	<%= link_to "Assinar", new_user_session_path(do_subscription: true), class: "btn btn-success btn-large" %>

<% end %>
