<% if flash[:alert].present? %>
	<div class="alert alert-dismissable alert-danger text-center">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:alert] %>
		<% if t('devise.failure.unconfirmed') == flash[:alert] %>
			<p class="text-center"><%= link_to "Reenviar confirmação", new_user_confirmation_path %></p>
		<% end %>
	</div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= hidden_field_tag :do_subscription, params[:do_subscription] %>
<%= hidden_field_tag :go_back_to_cart, params[:go_back_to_cart] %>

<div class="container" style="margin-top:25px">
	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<p style="font-size: 25px;line-height: 30px;font-weight: bold; color: black;">Realize seus sonhos agora.</p>
			<p style="font-weight: normal;margin-top: 20px;font-size: 20px;margin-bottom: 35px;line-height: 26px; color: black;">
				Compre e venda para seus vizinhos.</p>
			<div class="panel-body">

				<div class="block-mail">
					<div class="form-group">
						<%= f.email_field :email, autofocus: true, class:"form-control black-border", placeholder:"Insira o seu e-mail" %>
					</div>
					<div class="actions">
						<a href="javascript:void(0);" class="btn btn-sm btn-primary btn-avanzar">Avançar</a>
						<img src="https://s3.amazonaws.com/predios/right.png" class="btn-right">
					</div>
				</div>

				<div class="block-pass hide">
					<div class="form-group">
						<img src="https://s3.amazonaws.com/predios/left.png" class="backLogin">
						<%= f.password_field :password, autocomplete: "off", class:"form-control black-border", placeholder:"Insira a sua senha"%>
					</div>
					<div class="actions">
						<%= f.submit "Iniciar sessão", class:"btn btn-sm btn-primary btn-black" %>
					</div>
					<div style="margin-top:10px" class="form-group">
						<div class="col-md-12 control lateral-clean">
							<div style="border-top: 1px solid#ddd; padding-top:15px;" >
								<p style="color: black;">Esqueceu a sua senha? <%= link_to "Clique aqui", new_password_path(resource_name) %></p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div style="position: absolute; bottom: 0; background: black; width: 100%;" >
		<p>Não está cadastrado? <%= link_to "Crie sua conta aqui", new_registration_path(resource_name) %></p>
	</div>
</div>
<% end  %>
