<div class="container">
	<h1>Listing Alejandros</h1>
	<p>Es decir, Usuarios activos</p>
	<hr />

	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Email</th>
				<th>Fecha activación</th>
				<th>Fecha vencimiento</th>
				<th>Nota acerca del usuario</th>
				<th>Membresia</th>
				<th>Pago</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @alejandros.each do |alejandro| %>
				<tr>
					<td><%= alejandro.email %></td>
					<td><%= alejandro.payment_date %></td>
					<td><%= alejandro.due_date %></td>
					<td><%= alejandro.message %></td>
					<td><%= alejandro.member.try(:name) %></td>
					<td><%= alejandro.payment %></td>
					<td>
						<%= link_to 'Editar', edit_alejandro_path(alejandro), role: 'button', class: 'btn btn-success btn-xs' %>
						<%= link_to 'Eliminar', alejandro, method: :delete, data: { confirm: 'Está usted segur@?' }, role: 'button', class: 'btn btn-primary btn-xs' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Ingresar Nuevo alejandro', new_alejandro_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
</div>
