<p id="notice"><%= notice %></p>

<p>
  <strong>Email único:</strong>
  <%= @alejandro.email %>
</p>

<p>
  <strong>Fecha activación (determinada por alejandro):</strong>
  <%= @alejandro.payment_date %>
</p>

<p>
  <strong>Fecha vencimiento:</strong>
  <%= @alejandro.due_date %>
</p>

<p>
  <strong>Mensaje (uso interno):</strong>
  <%= @alejandro.message %>
</p>

<p>
  <strong>Membresia:</strong>
  <%= @alejandro.member.name %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @alejandro.payment %>
</p>

<%= link_to 'Edit', edit_alejandro_path(@alejandro), role: 'button', class: 'btn btn-success btn-sm' %>
<%= link_to 'Back', alejandros_path, role: 'button', class: 'btn btn-success btn-sm' %>
