<div class="container">
	<div class="row">
		<div class="modal-header">
			<h4 class="modal-title" id="small-modal-label">Cancelar pedido (#<%= @order.id %>)</h4>
		</div>

		<div class="modal-body">
			<%= form_for(OrderStatus.new, url: order_cancel_path, method: :post) do |f| %>
				<%= f.hidden_field :order_id, value: @order.id %>
				<%= hidden_field_tag :from_status, params[:status] %>

				<%= f.text_area :observation, class: "form-control", placeholder: "Insira aqui observações sobre o porque quer cancelar seu pedido...", rows: 5 %>

				<div style="padding: 10px 0;">
					<%= f.submit "Cancelar Pedido", class: "btn btn-primary", name: nil %>
				</div>
			<% end %>
		</div>
	</div>
</div>
