<div class="container">
	<div class="row">
		<div class="modal-header">
			<h4 class="modal-title" id="small-modal-label">Detalhes do pedido (#<%= @order.id %>)</h4>
		</div>

		<div class="modal-body" align="center">
			<table class='table table-hover'>
				<tr>
					<th>Tienda:</th>
					<td><%= @order.shop.name %></td>
				</tr>
				<tr>
					<th>Status:</th>
					<td><%= @order.status.status %></td>
				</tr>
				<tr>
					<th>Valor do pedido:</th>
					<td><%= format_currency @order.total %></td>
				</tr>
				<tr>
					<th>Criado em:</th>
					<td><%= format_datetime @order.status.created_at %></td>
				</tr>
				<tr>
					<th>Meu endereço informado:</th>
					<% address = @order.user.address %>
					<td>Prédio: <%= address.predio.name %></td>
					<td>Bloco: <%= address.block %></td>
					<td>Apartamento: <%= address.number %></td>
					<td>Andar: <%= address.floor %></td>
					<td>Complemento: <%= address.complement %></td>
					<td><%= link_to 'Atualizar meu endereço', registration_path %></td>
				</tr>
				<tr>
					<td>
						<br/>
						<%= link_to 'Ver meus pedidos', to_shops_orders_path, class: "btn btn-success" %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
