<hr>

<%= form_for(@contact) do |f| %>
	<%= f.hidden_field :email %>
	<%= f.hidden_field :phone %>
	<%= f.hidden_field :city %>
	<%= f.hidden_field :comment %>

	<%= model_error_messages! @contact %>

	<table class="table table-hover">
		<tr>
			<th><strong>E-mail:</strong></th>
			<td><%= @contact.email %></td>
		</tr>
		<tr>
			<th><strong>Telefone:</strong></th>
			<td><%= @contact.phone %></td>
		</tr>
		<tr>
			<th><strong>Cidade:</strong></th>
			<td><%= @contact.city %></td>
		</tr>
		<tr>
			<th><strong>Comentário:</strong></th>
			<td><i><%= @contact.comment %></i></td>
		</tr>
		<% if @contact.is_answered? %>
		<tr>
			<th><strong>Resposta:</strong></th>
			<td><i><%= @contact.answer %></i></td>
		</tr>
		<% end %>
	</table>

	<% unless @contact.is_answered? %>
		<hr>

		<div class="form-group">
			<%= f.label 'Resposta' %><br>
			<%= f.text_area :answer, class: "form-control", placeholder: "Insira a resposta por aqui." %>
		</div>

		<div class="actions">
			<%= f.submit "Responder", class: "btn btn-success" %>
		</div>
	<% end %>
<% end %>

<hr>
