<%= form_for(@predio) do |f| %>
  <% if @predio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@predio.errors.count, "error") %> prohibited this predio from being saved:</h2>
      <ul>
      <% @predio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Nome da predio' %><br>
    <%= f.text_field :name, autofocus: true, class:"form-control black-border", placeholder:"Nome da loja" %>
  </div>
  <div class="form-group">
    <%= f.label 'Endereço' %><br>
    <%= f.text_field :address, autofocus: true, class:"form-control black-border", placeholder:"Endereço" %>
  </div>
  <div class="form-group">
    <%= f.label 'Detalhes' %><br>
    <%= f.text_field :details, autofocus: true, class:"form-control black-border", placeholder:"Detalhes" %>
  </div>
  <div class="actions">
    <hr>
    <%= f.submit "Listo", class:"btn btn-sm btn-primary btn-black", style:'text-align: center' %>
  </div>
<% end %>
