<meta name="apple-mobile-web-app-capable" content="yes">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Montserrat:400,700" rel="stylesheet" type="text/css">

<div class="container">

	<div class="row" id="predios">
		<% @predios.each do |predio| %>
			<div class="col-md-4 text-center" style="display: flex; flex-wrap: wrap; justify-content: center;">

				<%= link_to predio_shops_path(predio) do %>
					<%= image_tag(predio.image_url, class: "img-responsive aspect", style:"padding-top: 35px;", width: 250, alt: "Imagem do prédio não disponivel.") %>
					<%= predio.name %>
				<% end %>

			</div>
		<% end %>
	</div>

	<div class="row">
		<div class="col-md-12">
			<% if @predios.present? %>
				<hr>
				<div class="text-center">
					<h2 id="predios-amount" class="label label-primary" style="font-size: 14px; padding: 6px 10px; border-radius: 50px 50px 50px;">
						<%= "#{@predios.count} encontrados" %></h2>
				</div>
				<hr>
			<% end %>

			<%= text_field_tag :search, nil, class: "form-control search-predios", placeholder: "Procure por Bairro, Municipio, Conjunto" %>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-12 text-center">
			<%= link_to "Como cadastrar meu predio?", "javascript:void(0);", id: "link-help" %>
		</div>
		<div class="col-md-12 text-center" id="link-help-box" style="display: none;padding: 20px;">
			Acesse ao menú principal e faça click em <%= link_to "Fale Conosco", new_contact_path %>. Simplesmente preencha os dados e nós entraremos em contato com você para adicionar seu prédio ao sistema.
		</div>
	</div>
</div>
