<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @predio.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @predio.address %>
</p>

<p>
  <strong>Details:</strong>
  <%= @predio.details %>
</p>

<%= link_to 'Edit', edit_predio_path(@predio) %> |
<%= link_to 'Back', predios_path %>
