<table class='table-orders table table-hover' style="display: none;" data-status="<%= status %>">
	<thead>
		<tr>
			<th>#</th>
			<th>Cliente</th>
			<th>Status</th>
			<th>Valor</th>
			<th>Motivo</th>
			<th>Cancelado por</th>
			<th>Cancelado em</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% orders_by_status(orders, status).each do |order| %>
			<tr>
				<th>#<%= order.id %></th>
				<td><%= order.user.name %></td>
				<td><%= status %></td>
				<td><%= format_currency order.total %></td>
				<td><%= order.status.observation %></td>
				<td><%= order.status.user.name %></td>
				<td><%= format_datetime order.status.created_at %></td>

				<td><%= link_to 'Ver detalhes', order %></td>
			</tr>
		<% end %>
	</tbody>
</table>
