<p id="notice"><%= notice %></p>

            
<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(@product.image_url) if @product.image? %><br>
          <div class="caption">
            <h3><%= @product.name %></h3>
            <p>$<%= @product.price %>.-</p>
            <p><%= @product.detail %></p>
            <p>
            <% if user_signed_in? %>
            <% if current_user.id == @product.user_id %>
              <%= link_to 'Editar', edit_product_path(@product), role: 'button', class: 'btn btn-success btn-sm' %>
            <% end %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
  </div>

<%= link_to 'Volver', products_path, role: 'button', class: 'btn btn-success btn-sm' %>
<br/><br/><br/>
<% if user_signed_in? %>  
<%= link_to 'Crear Nuevo Producto', new_product_path, role: 'button', class: 'navbar-fixed-bottom button button3 btn-block' %>
<% end %>

