<div class="menu-mobile hide">
	<div class="header-mob">
		<img src="https://s3.amazonaws.com/predios/logo.png" class="logo-mob">
	</div>
	<ul class="nav-mob">
		<% if user_signed_in? %>
			<li><%= link_to current_user.email, edit_user_registration_path %></li>
			<li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to 'Iniciar sessão', new_user_session_path %></li>
		<% end %>

		<hr>

		<li><%= link_to "Inicio", root_path %></li>
		<li><%= link_to "Assinaturas", pagos_path %></li>
		<li><%= link_to "Fale conosco", new_contact_path %></li>

		<% if user_signed_in? %>
			<li><%= link_to "Minhas lojas", user_shops_path(current_user) %></li>
			<li><%= link_to "Ver pedidos", orders_path %></li>
			<hr>
			<% if current_user.admin? %>
				<li><%= link_to "Alejandros", alejandros_path %></li>
				<li><%= link_to "Contatos", contacts_path %></li>
				<li><%= link_to "Predios", predios_path %></li>
				<li><%= link_to "Conjuntos", housing_sets_path %></li>
				<li><%= link_to "Bairros", districts_path %></li>
				<li><%= link_to "Municipios", cities_path %></li>
				<li><%= link_to "Categories", categories_path %></li>
			<% end %>
		<% end %>
	</ul>
</div>
