<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109310748-2"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-109310748-2');
	</script>

	<meta charset="utf-8">
	<title>PREDIOS APP</title>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/united/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">

	<style>
	/* Only necessary if you are using navbar-fixed-top */
	body {
		padding-top: 50px;
	}
	.button {
		background-color: #4CAF50; /* Green */
		border: none;
		color: white;
		padding: 16px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		cursor: pointer;
	}
	.button3 {
		background-color: white;
		color: black;
		border: 2px solid #f44336;
	}
	.button3:hover {
		background-color: #f44336;
		color: white;
	}
	.button1 {
		background-color: white;
		color: black;
		border: 2px solid #4CAF50;
	}
	.button1:hover {
		background-color: #4CAF50;
		color: white;
	}
	h2.clase {  display:inline;}
	p.otra {
		display:inline;
		color: black;
	}
	a.link {color: blue; text-decoration: underline;}
	</style>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body style="height: 100%; background-color: #F8F8F9;">

	<!-- Menu Mobile -->
	<div class="menu-mobile hide">
		<div class="header-mob">
			<%#= image_tag("logo", class: "logo-mob") %>
			<img src="https://s3.amazonaws.com/predios/logo.png" class="logo-mob">
		</div>
		<ul class="nav-mob">
			<% if user_signed_in? %>
				<li><%= link_to current_user.email, edit_user_registration_path %></li>
				<li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
			<% end %>

			<li><%= link_to "Tiendas", shops_path %></li>
			<li><%= link_to "Pagos", pagos_path %></li>
			<li><%= link_to "Consultas", queries_path %></li>

			<% if user_signed_in? %>
				<li><%= link_to "Crear nuevo producto", new_product_path %></li>
				<% if current_user.admin? %>
					<li><%= link_to "Predios", predios_path %></li>
					<li><%= link_to "Categories", categories_path %></li>
					<li><%= link_to "Alejandros", alejandros_path %></li>
					<li><%= link_to "Bancos", bancos_path %></li>
					<li><%= link_to "Tipos de cuenta", accounts_path %></li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<% if current_page?('/users/sign_up') || current_page?('/users/password/new') %>
			<%= link_to raw('<img src="https://s3.amazonaws.com/predios/left.png" class="left">'), new_user_session_path %>
			<% end %>

			<img src="https://s3.amazonaws.com/predios/burger.png" class="burger">
			<%= link_to raw('<img src="https://s3.amazonaws.com/predios/logo.png" class="logo-header">'), root_path %>
			<%#= image_tag "burger", class: 'burger' %>
			<%#= link_to image_tag("logo", class: 'logo-header', src:'https://www.dropbox.com/s/9zliryk9alf7vvy/logo.png?dl=0'), root_path %>
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<% if notice.present? %>
		<div class="alert alert-dismissable alert-success">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<%= notice %>
		</div>
		<% end %>

		<%= yield %>
	</div>
</body>
</html>
