<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "update-user-form" }) do |f| %>
<%= hidden_field_tag :cart, cart %>

<div class="container" style="margin-top:50px">
	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Editar conta </strong></h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<%= f.label "Nome *" %><br />
					<%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Insira o nome", required: true %>
				</div>
				<div class="form-group">
					<%= f.label "Email *" %><br />
					<%= f.email_field :email, class:"form-control", placeholder:"Insira o email", required: true, readonly: true %>
				</div>
				<div class="form-group">
					<%= f.label "Telefone *" %><br />
					<%= f.text_field :phone, class:"form-control phone", placeholder:"Insira o telefone", required: true %>
				</div>

				<% if @addresses.present? %>
					<table class="table table-hover address_options">
						<% @addresses.each do |a| %>
							<tr>
								<td style="display: flex;flex-wrap: wrap;align-items: center;">
									<%= radio_button_tag 'address_ids[]', a.id, false, class: "address_radio_button", data: { number: a.number, block: a.block, floor: a.floor, complement: a.complement } %>
		        					<span style="padding: 0 15px;"><%= "Apartamento: #{a.number} - Bloco: #{a.block} - Andar: #{a.floor} " %></span>
								</td>
							</tr>
						<% end %>
					</table>
				<% end %>

				<%= fields_for :addresses, f.object.address do |ff| %>
					<hr>

					<% if cart.present? && ff.object.present? %>
						<%= ff.hidden_field :id %>
					<% end %>

					<div class="form-group">
						<%= ff.label "Prédio *" %><br />
						<%= ff.select :predio_id, Predio.all.collect { |p| [ p.name, p.id ] }, { prompt: "Elige un predio" }, { class: "predio-select form-control", data: { predio: (session[:predio_id] || predio.try(:id)) }, required: true } %>
						<span style="display:none;color: red;" id="predio-msg">O prédio deve ser o mesmo prédio da loja que está sendo feito o pedido (<%= (session[:predio_name] || predio.try(:name)) %>)</span>
					</div>
					<div class="form-group">
						<%= ff.label "Número do apartamento" %><br />
						<%= ff.text_field :number, class:"form-control apartament-field", placeholder:"Insira número do apartamento" %>
					</div>
					<div class="form-group">
						<%= ff.label "Bloco" %><br />
						<%= ff.text_field :block, class:"form-control block-field", placeholder:"Insira o bloco" %>
					</div>
					<div class="form-group">
						<%= ff.label "Número do andar" %><br />
						<%= ff.number_field :floor, class:"form-control floor-field", placeholder:"Insira número do andar" %>
					</div>
					<div class="form-group">
						<%= ff.label "Complemento" %><br />
						<%= ff.text_field :complement, class:"form-control complement-field", placeholder:"Insira complemento" %>
					</div>
				<% end %>

				<hr>

				<% if cart.blank? %>
					<h4>Troca de senha</h4>
					<hr>
					<div class="form-group">
						<%= f.label "Senha" %>
						<% if @minimum_password_length %>
							<em>(<%= @minimum_password_length %> caracteres mínimos)</em>
						<% end %><br />
						<%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Insira senha" %>
					</div>
					<div class="form-group">
						<%= f.label "Confirmar senha" %><br/>
						<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Insira confirmação de senha" %>
					</div>

					<hr>

					<div class="row actions">
						<div class="col-md-6">
							<%= f.submit "Editar conta", class:"btn btn-sm btn-primary user-submit" %>
						</div>
					</div>

				<% else %>

					<div class="row actions">
						<div class="col-md-6">
							<%= f.submit "Confirmar", class:"btn btn-sm btn-success user-submit" %>
						</div>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>

<% end %>

<script type="text/javascript">
$(".predio-select").change(function(){
	let must_be_predio_id = $(this).data("predio");
	if (must_be_predio_id == "" || must_be_predio_id == null || must_be_predio_id == undefined) {
		return true;
	}

	let predio_id = $(this).val();
	if (predio_id != must_be_predio_id) {
		$("#predio-msg").fadeIn();
		$(".user-submit").prop("disabled", "true");
	} else {
		$("#predio-msg").fadeOut();
		$(".user-submit").removeProp("disabled");
	}
});

$(".address_radio_button").click(function() {
	let $radio = $(this);

	$(".apartament-field").val($radio.data("number"));
	$(".block-field").val($radio.data("block"));
	$(".floor-field").val($radio.data("floor"));
	$(".complement-field").val($radio.data("complement"));
});
</script>
